asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
clearbit==0.1.7
Click==7.0
cryptography==2.5
Django==2.1.11
djangorestframework==3.9.1
djangorestframework-simplejwt==3.3
Faker==1.0.2
idna==2.8
pycparser==2.19
pyhunter==0.3
PyJWT==1.7.1
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
requests==2.21.0
six==1.12.0
text-unidecode==1.2
urllib3==1.24.1
