asn1crypto==1.2.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
clearbit==0.1.7
Click==7.0
cryptography==2.8
Django==3.0
djangorestframework==3.9.4
djangorestframework-simplejwt==4.1.4
enum34==1.1.6
Faker==3.0.0
idna==2.8
ipaddress==1.0.23
pkg-resources==0.0.0
pycparser==2.19
pyhunter==1.3
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.2
requests==2.22.0
simplejson==3.17.0
six==1.13.0
text-unidecode==1.3
urllib3==1.25.7
